name: Push component to https://components.espressif.com

on:
  push:
    tags:
      - v*

jobs:
  upload_components:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload components to component service
        uses: espressif/upload-components-ci-action@v2
        with:
          components: "tinyusb: ."
          version: ${{ github.ref_name }}
          namespace: "roma-jam"
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
